.add-to-cart {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4e78bd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    height: 45px;
    display: block;
    margin: auto;
}

.product__info-buttons {
    position: relative;
    background-color: lightgray;
    height: 50px;
    padding: 15px 0 15px 0;
}

.add-to-cart:hover {
    background-color: #6381f4;
}

.add-to-cart-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url('../images/button/package.png');
    background-size: cover;
    vertical-align: middle;
}