.filters {
    background: linear-gradient(135deg, #c5e4be, rgb(236, 236, 236));
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters__buttons {
    margin-right: 10px;
}

.filters__buttons button {
    background-color: #4eb7a6;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filters__buttons button.active {
    background-color: #389c8a;
}

.filters__checkbox {
    display: flex;
    align-items: center;
    color: #616161;
    font-size: 14px;
    cursor: pointer;
}

.filters__checkbox input {
    display: none;
}

.filters__checkbox-mark {
    width: 18px;
    height: 18px;
    border: 2px solid #4eb7a6;
    border-radius: 50%;
    margin-left: 5px;
    position: relative;
}

.filters__checkbox-mark:before {
    content: "";
    position: absolute;
    display: none;
}

.filters__checkbox input:checked ~ .filters__checkbox-mark:before {
    display: block;
    background-color: #4eb7a6;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
    .filters {
        flex-direction: column;
        padding: 20px;
    }

    .filters__buttons {
        margin-bottom: 10px;
    }

    .filters__checkbox {
        font-size: 12px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .filters {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
    }

    .filters__buttons {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 1025px) {
    .filters {
        padding: 30px;
    }
}