.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px 5px;
    grid-auto-rows: 425px;
    grid-auto-columns: 425px;
    background-color: #ffffff;
}

.products > div {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    width: 310px;
    position: relative;
    border: 15px solid lightgray;
}

.product__image {
    position: relative;
    display: flex;
    height: 175px;
    padding: 25px 0 5px 0;
    margin: auto;
}

.product__icons {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 25px;
    position: absolute;
    left: 250px;
    top: 10px;
    z-index: 100;
    height: 100px;
    opacity: 1;
}

.product__info-prices {
    display: flex;
    flex-direction: row;
    align-content: end;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product__info-prices > .current-price {
    color: #000000;
    font-size: 20px;
    margin: 5px;
}

.product__info {
    width: inherit;
    height: inherit;
    position: relative;
}

.product__info-prices > .discounted-price {
    color: #ff001e;
    font-size: 20px;
    margin: 5px;
}

.product__info-prices > .previous-price {
    color: #252a05;
    font-size: 20px;
    margin: 5px;
    text-decoration: line-through black;
}

.product__icon:hover {
    transform: scale(1.1);
}

.product__icon {
    padding-bottom: 3px;
    width: 32px;
    border-radius: 50px;
    border: 3px solid white;
    background-color: white;
}

.product__icon[data-value=on] {
    opacity: 100%;
}

.product__icon[data-value=off] {
    opacity: 50%;
}

.product__new {
    color: #ffffff;
    width: 35px;
    position: absolute;
    background-color: #6381f4;
    font-size: 12px;
    text-align: center;
    margin: 5px;
}

.product__info-name {
    position: relative;
    margin-top: 5px;
    width: inherit;
    white-space: nowrap;
    color: rgb(0, 0, 0);
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.product__info-category {
    position: relative;
    opacity: 50%;
    font-size: 15px;
    width: inherit;
    margin-top: 10px;
    height: inherit;
    white-space: nowrap;
    color: rgb(0, 0, 0);
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.product {
    opacity: 1;
    margin: 5px;
    background-color: black;
}

.product.product-hidden {
    display: none;
}

.product-transparent {
    opacity: 0.5;
}

.product__info-name {
    font-family: MADELikesSlab, serif;
}

.product__info-category {
    font-family: MADELikesSlab, serif;
}

@media screen and (max-width: 480px) {
    .products {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .products {
        grid-template-columns: repeat(4, 1fr);
    }
}

