.product__info-rating {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-content: center;
    position: relative;
}

.rating__stars {
    --rating-width-integer-part: 0%;
    --rating-width-total: 0% ;
    display: inline-block;
    align-self: center;
    position: relative;
    align-items: stretch;
    font-size: 0;
    overflow: hidden;
}

.rating__star {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/rating/star-active.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: background-size 0.2s;
    position: relative;
    z-index: 1;
}

.rating__star.star-active {
    background-image: url(../images/rating/star-inactive.png);
    z-index: 1;
}

.rating__stars-inactive {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

.rating__stars-active {
    position: absolute;
    z-index: 3;
}

.rating-value {
    font-size: 18px;
    align-self: center;
}

.rating__stars[data-rating^='1'] {
    --rating-width-integer-part: 20%
}

.rating__stars[data-rating^='2'] {
    --rating-width-integer-part: 40%
}

.rating__stars[data-rating^='3'] {
    --rating-width-integer-part: 60%
}

.rating__stars[data-rating^='4'] {
    --rating-width-integer-part: 80%
}

.rating__stars[data-rating^='5'] {
    --rating-width-integer-part: 100%
}

.rating__stars[data-rating$='.0'] {
    --rating-width-total: var(--rating-width-integer-part);
}

.rating__stars[data-rating$='.1'] {
    --rating-width-total: calc(var(--rating-width-integer-part) + 2%);
}

.rating__stars[data-rating$='.2'] {
    --rating-width-total: calc(var(--rating-width-integer-part) + 4%);
}

.rating__stars[data-rating$='.3'] {
    --rating-width-total: calc(var(--rating-width-integer-part) + 6%);
}

.rating__stars[data-rating$='.4'] {
    --rating-width-total: calc(var(--rating-width-integer-part) + 8%);
}

.rating__stars[data-rating$='.5'] {
    --rating-width-total: calc(var(--rating-width-integer-part) + 10%);
}

.rating__stars[data-rating$='.6'] {
    --rating-width-total: calc(var(--rating-width-integer-part) + 12%);
}

.rating__stars[data-rating$='.7'] {
    --rating-width-total: calc(var(--rating-width-integer-part) + 14%);
}

.rating__stars[data-rating$='.8'] {
    --rating-width-total: calc(var(--rating-width-integer-part) + 16%);
}

.rating__stars[data-rating$='.9'] {
    --rating-width-total: calc(var(--rating-width-integer-part) + 18%);
}

.rating__stars-mask {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - var(--rating-width-total));
    height: 100%;
    background-color: white;
    z-index: 2;
    pointer-events: none;
    transition: transform 0.2s;
    transform-origin: right;
    overflow: hidden;
}