.product__info-rating {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-content: center;
    position: relative;
}

.rating__stars {
    --rating: 0;
    display: inline-block;
    align-self: center;
    position: relative;
    align-items: stretch;
    font-size: 0;
    overflow: hidden;
}

.rating__star {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/rating/star-active.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: background-size 0.2s;
    position: relative;
    z-index: 1;
}

.rating__star.star-active {
    background-image: url(../images/rating/star-inactive.png);
    z-index: 1;
}

.rating__stars-inactive {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

.rating__stars-active {
    position: absolute;
    z-index: 3;
}

.rating__stars-mask {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - var(--rating) * 100% / 5) ;
    height: 100%;
    background-color: white;
    z-index: 2;
    pointer-events: none;
    transition: transform 0.2s;
    transform-origin: right;
    overflow: hidden;
}

.rating-value {
    font-size: 18px;
    align-self: center;
}
